*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
header nav {
    height: 60px;
    background-color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}
header nav ul {
    display: flex;
    gap: 20px;
}
header nav ul li {
    cursor: pointer;
}
header nav ul li:hover {
    color: blue;
}
header h1 {
    font-size: 24px;
    font-weight: bold;
}

